.register-modal,
.login-modal,
.profile-modal,
.address-modal,
.address-detail-modal,
.recoveryPassword-modal {
    img {
        width: 100%;
    }
    .ant-modal-title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }
    .ant-input {
        padding: 8px 11px;
    }
    .ant-modal-footer {
        padding: 24px;
    }
    .modal-btn-save, .ant-btn {
        height: 40px;
        display: block;
        width: 100%;
        font-size: 16px;
    }
    .options {
        margin-top: 16px;
        padding: 8px 0 0;
        display: flex;
        justify-content: center;
        font-size: 16px;
        .register {
            margin-left: 24px;
        }
        .register, .forgot-password {
            cursor: pointer;
        }
    }
}

.login-modal {
    .logo {
        margin-bottom: 24px;
        img {
            width: 120px;
            display: block;
            margin: 0 auto;
        }
    }
}

.address-modal,
.profile-modal,
.recoveryPassword-modal {
    .modal-btn-save {
        height: 40px;
        display: inline-block;
        width: fit-content;
        font-size: 16px;
    }
}

.recoveryPassword-modal {
    .note {
        color: red;
    }
}

.address-modal {
    .ant-modal-body {
        padding: 16px;
    }
    .address-list {
        font-size: 16px;
        .item {
            border: 1px solid #f0f0f0;
            padding: 16px;
            margin-bottom: 1em;
            .name {
                font-weight: 600;
            }
            .address, .phone, .address, .province {
                font-style: italic;
            }
            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                color: #1166c6;
                .delete, .edit {
                    cursor: pointer;
                }
                .delete {
                    margin-left: 1em;
                }
            }
        }
    }
}

.address-detail-modal {
    .modal-btn-save, .ant-btn {
        display: inline-block;
        width: fit-content;
    }
    .ant-select-selector {
        height: 40px !important;
        .ant-select-selection-search-input {
            height: 40px !important;
        }
    }
    .ant-select-selection-placeholder, .ant-select-selection-item {
        line-height: 38px !important;
    }
}

.product-detail-modal{
    top: 10px !important;
    .product-detail{
        .meta {
            margin-bottom: 16px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.08);
            .ant-avatar {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 12px;
                background: #eee;
                margin-bottom: 16px;
                position: relative;
                overflow: hidden;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: 48%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    overflow: hidden;
                    border-radius: inherit;
                }
            }
            .info {
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                align-items: center;
                .product-name{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    box-sizing: border-box;
                    word-break: break-word;
                }
                .product-price{
                    margin-left: 8px;
                    .price, .discount {
                        &.has-discount {
                            text-decoration: line-through;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.378);
                            font-style: italic;
                            line-height: 1;
                        }
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: rgba(0, 0, 0, 0.65);
                        white-space: nowrap;
                    }
                }
            }
        }
        .content {
            padding: 0 !important;
            padding-bottom: 8px !important;
            img {
                max-width: 100%;
            }
            .empty-description{
                height: 50vh;
                line-height: 50vh;
                font-size: 18px;
                text-align: center;
                // transform: translate(0%, 45%);
                color: gray;
            }
        }
    }
    .ant-modal-title {
        margin: 0;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        word-wrap: break-word;
        text-transform: uppercase;
        
    }
}