html {
    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: $primaryBackground;
}

#root {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.action-bar {
    margin: 10px 0;
    text-align: right;
}

.no-padding {
    padding: 0;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.icfa {
    margin-right: 10px;
}

/* CSS for form */
.img-uploaded {
    // width: 86px;
    height: 86px;
}

.avatar-contain {
    img {
        object-fit: contain;
    }
}

.custom-fieldset {
    padding: 1em;
    border: 1px solid #f0f0f0;
    legend {
        font-size: 16px;
        display: unset;
        width: unset;
        padding: 0 10px;
        border-bottom: unset;
        margin: unset;
    }
}
/* End css for form*/

/* CSS for base table*/
.base-table {
    .ant-table-row {
        td {
            padding: 4px 8px !important;
        }
        .img-col {
            width: 70px;
            height: 50px;
        }
        .empty-img-col {
            font-size: 68px;
            color: #c1c1c1;
        }
        .tag-status {
            width: 60px;
            display: flex;
            justify-content: center;
        }
    }
    .ant-table-row:nth-child(odd) td{
        background-color: #fff;
    }
    .ant-table-row:nth-child(even) td{
        background-color:#f9f9f9;
    }
}

/* End css for base table*/

.quill {
    .ql-toolbar {
        line-height: 22px;
    }
    .ql-editor{
        min-height: 300px !important;
        max-height: 500px;
    }
}

.pre-line {
    white-space: pre-line;
}

.word-break {
    word-break: break-all;
}

.serch-customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.happy-hours-table {
    // border-collapse: collapse;
    // border: 1px solid #d9d9d9;
    text-align: center;
    width: 100%;
    td, th {
        border: 1px solid #d9d9d9;
        // display: flex;
    }
    .days-of-weeks-col {
        text-align: center;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    .ant-form-item {
        margin: 0 4px;
    }
}

.addition-foods {
    .ant-form-item {
        margin-bottom: 0;
    }
}

.token-form {
    .ant-descriptions-item-label {
        color: rgba(0,0,0,.85);
        font-weight: 700;
    }
}


.beilage-items, .happy-hours-items {
    .ant-form-item {
        margin-bottom: 8px;
    }
}

.food-data-fieldset {
    margin-top: -12px;
}

.color-picker {
    width: 100%;
    .rc-color-picker-trigger {
        width: 100% !important;
        height: 30px !important;
    }
}

.list-qrcode {
    display: flex;
    justify-content: center;
    padding: 10px;
    #gen-qrcode {
        width: 21cm;
    }
}

.qrcode-footer {
    display: flex;
    justify-content: space-between;
}

.card-feat {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
    color: #333;
    height: 100%;
}

// FOR LOADER ITEMS
.load-more {
    text-align: center;
    margin-bottom: 16px;
    min-height: 78px;
    display: flex;
    align-items: center;
    .btn {
        color: #3C4858;
        background-color: #ededed;
        padding: 16px 0;
        height: fit-content;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .btn::before {
        display: none;
    }
    .loader,
    .loader:before,
    .loader:after {
        background: rgb(173, 173, 173);
        -webkit-animation: load2 1s infinite ease-in-out;
        animation: load2 1s infinite ease-in-out;
        width: 0.5em;
        height: 0.7em;
        box-shadow: 0 0 rgb(173, 173, 173);
        border-radius: 0.625rem;
    }
    .loader {
        color: #ffffff;
        text-indent: -9999em;
        margin: 16px auto;
        position: relative;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }
    .loader:before {
        left: -0.7em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 0.7em;
    }
    @-webkit-keyframes load2 {
        0%,
        80%,
        100% {
            height: 0.8em;
            box-shadow: 0 0 rgb(173, 173, 173);
        }
        40% {
            height: 1.5em;
            box-shadow: 0 -0.7em rgb(173, 173, 173);
        }
    }
    @keyframes load2 {
        0%,
        80%,
        100% {
            height: 0.8em;
            box-shadow: 0 0 rgb(173, 173, 173);
        }
        40% {
            height: 1.5em;
            box-shadow: 0 -0.7em rgb(173, 173, 173);
        }
    }
}
