.make-order-form {
    padding: 16px 0;
    margin: 0 auto;
    width: calc(100% - 48px);
    border-top: 1px solid #f0f0f0;
}
.make-order-form, .orders-detail {
    h2 {
        font-size: 18px;
        font-weight: 600;
    }
    input, .ant-select-selector {
        height: 40px !important;
    }
    .ant-select-selection-placeholder, .ant-select-selection-item {
        line-height: 40px !important;
    }
    .custom-fieldset {
        border-radius: 16px;
    }
    .policy {
        color: #18a0fb;
    }
    .section {
        padding-top: 16px;
        padding-bottom: 24px;
        border-bottom: 1px solid #f0f0f0;
    }
    .section.last {
        border: none;
        .btn-submit {
            width: 280px;
            height: 54px;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
    .payment-method {
        padding: 0 1em;
        .ant-radio-group {
            width: 100%;
        }
        .icon {
            width: 46px !important;
            margin-bottom: -8px;
        }
        .ant-form-item {
            margin-bottom: 0;
        }
        .ant-row {
            padding: 12px 1em;
        }
        .ant-col {
            padding: 0 !important;
            font-size: 1rem;
        }
        .first-row {
            border-bottom: 1px solid #f0f0f0;
        }
    }
    
}

.orders-detail-modal {
    .orders-detail {
        ul {
            padding: 0;
            list-style-type: none;
        }
        .orders-state {
            padding-bottom: 16px;
            .ant-steps {
                margin-top: 18px;
                padding: 0 16px;
                margin: 0 auto;
                margin-top: 18px;
                padding: 0 16px;
                max-width: 600px;
            }
            .meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .code-booking {
                font-size: 18px;
                padding-right: 16px;
                font-weight: 600;
            }
            .cancel {
                .ant-steps-icon, .ant-steps-item-title {
                    color: red;
                }
            }
        }
        .orders-info {
            .ant-row {
                padding: 0.3em 0;
            }
            .name, .phone, .address {
                padding-left: 20px !important;
            }
        }
        .list {
            flex: unset;
            overflow: hidden;
            padding: 8px 0;
            .items {
                max-height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0 8px;
                .item {
                    padding: 8px;
                    padding-left: 8px;
                    position: relative;
                    border-bottom: 1px solid #f0f0f0;
                    transition: all 0.5s;
                    &:first-child {
                        margin-top: 4px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    .item-content {
                        display: flex;
                        position: relative;
                        .col-1 {
                            flex: 1;
                            .title {
                                font-weight: 600;
                                margin: 8px 0;
                            }
                        }
                        .col-2 {
                            width: fit-content;
                            flex-shrink: 0;
                            margin-left: 16px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: flex-start;
                            .price {
                                color: #000;
                                font-weight: 600;
                                margin-bottom: 8px;
                            }
                        }
                    }
                    .note-content {
                        width: 100%;
                        margin-top: 0;
                        font-style: italic;
                        word-break: break-word;
                        font-size: 12px;
                    }
                }
            }
        }
        .bottom {
            height: fit-content;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #f0f0f0;
            padding-top: 4px;
            padding-bottom: 0;
            .calculate-total {
                display: flex;
                justify-content: space-between;
                
            }
            .calculate-total {
                display: flex;
                justify-content: space-between;
                padding: 0px 16px;
            }
            .calculate-total.product {
                padding-top: 8px;
                padding-bottom: 0.4em;
            }
            .calculate-total.sale-off-price {
                padding-bottom: 0.4em;
            }
            .calculate-total.product, .calculate-total.vat, .calculate-total.discount {
                .title, .total {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            .calculate-total.vat {
                padding-bottom: 8px !important;
            }
            .calculate-total.product-vat {
                padding: 8px 16px;
                border-top: 1px solid #f0f0f0;
                .title, .total {
                    font-weight: bold;
                    font-size: 17px;
                }
            }
        }
    }
    .action {
        text-align: left;
        .danger {
            background-color: red;
            color: #fff;
        }
        .btn-cancel {
            font-weight: 600;
        }
        .remain-time {
            color: red;
        }
    }
}

.orders-list-modal {
    .ant-modal-body {
        min-height: 412px;
    }
    .list {
        flex: 1;
        .order-wrapper {
            padding: 16px 24px;
            padding-left: 32px;
            box-shadow: 0 0 10.5px 0 rgba(160, 183, 181, 0.14);
            border: 1px solid rgba(109, 139, 137, .1);
            border-radius: 8px;
            margin: 10px 0;
            cursor: pointer;
            transition: 0.25s all;
            .order {
                position: relative;
                .vertical-line {
                    position: absolute;
                    left: -24px;
                    padding: 0 2.5px;
                    height: calc(100% + 16px);
                    border-radius: 8px;
                    margin: -6px 0;
                }
                .first-line {
                    font-size: 16px;
                    margin-bottom: 0.7em;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                }
                .second-line {
                    font-size: 16px;
                    margin-bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .third-line {
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price {
                        font-size: 16px;
                    }
                    .ant-tag {
                        width: 88px;
                        text-align: center;
                        margin-right: 0;
                    }
                    .created-date {
                        font-style: italic;
                    }
                }
            }
        }
        .order-wrapper:hover {
            box-shadow: 0 0 10.5px 0 rgba(160, 183, 181, 0.301);
        }
        .load-more {
            text-align: center;
            margin-top: 16px;
            .btn {
                border: none !important;
            }
        }
        .ant-empty {
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 300px;
        }
        .ant-tag {
            font-size: 14px;
            line-height: 28px;
        }
    }
    .search-form {
        margin-right: -16px;
        margin-bottom: 32px;
        .ant-form-item {
            flex: 1;
        }
        .ant-form-item:first-child {
            .ant-input-affix-wrapper {
                width: 100% !important;
            }
        }
    }
    .ant-modal-footer {
        display: none;
    }
}